# Node modules
node_modules/

# Build output
dist/

# Logs
logs/
*.log
npm-debug.log*

# dotenv environment files
.env

# OS-specific
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Editor settings
.vscode/
.idea/
